#device-charts {
  position: relative;
}

img {
  width: 100%;
  margin: 20px 0;
}

@media screen and (max-width: 1020px) {
  #device-charts .row {
    flex-direction: column;
  }

  .chart-cards {
    margin-bottom: 30px;
  }
}