#device-charts, .chart-cards{
  position: relative;
}

.chart-cards {
  width: 33%;
}

.line-chart {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

@media screen and (max-width: 1020px) {
  #device-charts .row {
    flex-direction: column;
  }

  .chart-cards {
    width: 100%;
    margin-bottom: 30px;
  }
}