nav {
  position: fixed !important;
  width: 100%;
  height: 60px;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#userid-header {
  font-size: 18px;
  font-family: 'Pretendard-SemiBold';
}

.navbar h1 {
  margin: 0;
  font-size: 18px;
}

.navbar h1::after {
  content: " 님, 안녕하세요.";
}

@media screen and (max-width: 992px) {
  #nav-collapse {
    margin-top: 15px;
    padding: 0.25rem 1.5rem;
    background-color: #fff;
    
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}