
@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

#app {
  font-family: 'Pretendard-Light', 'Pretendard-SemiBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#index-content-body {
  margin-left: 16%;
}

h1, h2, h3, h4, h5, .btn, th, label, legend {
  font-family: 'Pretendard-SemiBold';
}

input, select, textarea {
  font-family: 'Pretendard-Light' !important;
}

li {
  list-style-type: none;
}

.content-body {
  margin-top: 60px;
  padding: 30px 40px;
}

.row {
  margin: 0;
}

/* title section */
.title-section {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.title, .sub-title {
  position: relative;
  display: inline;
}

.sub-title {
  margin-left: 20px;
  vertical-align: bottom;
}

/* modal section */
.modal-body {
  font-family: 'Pretendard-Light';
}

@media screen and (max-width: 1020px) {
  #index-content-body {
    margin-left: 30%;
  }
}